#clockcont {
    background-color: red;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}

#hr,
#min,
#sec {
    position: absolute;
    background: cyan;
    border-radius: 10px;
    transform-origin: bottom;
}

#hr {
    width: 1%;
    height: 29%;
    top: 21%;
    right: 49.5%;

    
}

#min {
    width: 1%;
    height: 43%;
    top: 7%;
    right: 49.5%;
    opacity: 0.7;
    
    
}

#sec {
    width: 1%;
    height: 20%;
    top: 30%;
    right: 49.5%;
    opacity: 0.5;
}